/* CSS phần Services */
.services {
    width: 1440px;
    height: 1031px;
    display: flex;
    flex-direction: column;
}
.services__headerBar {
    width: 100vh;
    height: 140.88px;
    background-color: #3A455C;
    display: flex;
}.services__headerBar--right {
    display: flex;
}




/* CSS phần footer */
/* .content {
    width: 100vh;
    height: 600px;
} */
.footer {
    border: 5px solid #28242c;
    width: 1440px;
    height: 251px;
    background-image: linear-gradient(90deg, #3A455C, #28242C);
    display: flex;
    justify-content: space-between;
}
.footer__left {
    width: 258px;
    height: 251px;
    background: url(.png);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.footer__right {
    /* width: 538px;
    height: 34px;  */
    align-self: end;
    margin-bottom: 40px;
    margin-right: 40px;
    box-sizing: content-box;
    color: #ffffff;
    font-size: 28px;
    
}